
#playersListColumn {
    margin-left: 8%;
    width: 18%;
}

#playersList {
    height: 200px;
}

#playersListColumn a {
	color: darkkhaki;
}

#playersListColumn h5 {
	color: darkkhaki;
}

#chat {
    height: 240px;
    overflow-y: auto;
    border: 1px solid white;
    border-right: 0px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: "Roboto";
}

#chat i {
    font-family: 'Abril Fatface';
}

#chatInputBox {
    height: 50px;
    overflow-y: auto;
    border: 1px solid white;
    border-right: 0px;
}

#chatForm input{
    margin: 0px;
    border-style: none;
    box-shadow: none;
    padding-left: 10px;
    font-family: "Roboto";
    font-size: 14px;
}


#boardColumn {
	/*needed positioning for absolute positioning of childs*/
	position: absolute;
	left: 29%;
	top: 0%;

}

#board{
	position: absolute;
    top: 35px;
	border: 1px solid white;
	/*background-image: url("tableTop.jpg");*/
	/*background-size: 600px, 520px;*/
	width: 600px;
	height: 520px;
	z-index: 0;
	/*cursor: crosshair;*/
}

#glass {
    position: absolute;
    top: 35px;
    /*background-image: url("tableTop.jpg");*/
    /*background-size: 600px, 520px;*/
    width: 600px;
    height: 520px;
    z-index: 1;
    /*cursor: crosshair;*/
}

#snakeImageColumn {
    position: absolute;
    top: 40px;
    left: 630px;
    background-image: url("images/snakeImage.jpg");
    width: 230px;
    height: 520px;
}

#controlRow {
    position: absolute;
    top: 570px;
    width: 600px;
}

.controlRowElement{
    position:absolute;
    text-align:center;

}

#restart {
    left: 0%;
    width:10%;
    cursor: pointer;
    color: darkkhaki;
}

#currentPlayer {
    left: 40%;
    color: white;
    width: 20%;
    border: 1px darkkhaki solid;
}

#muteContainer {
    right: 0%;
    width: 10%;
}

#muteContainer i {

    color: darkkhaki;
    cursor: pointer;
}




/*#positionDataBox {
    position: absolute;
    left: 240px;
    top: 590px;
    color: white;
    width: 100px;
    height: 300px;
    border: 1px white solid;
    text-align: center;
}*/