
#playersList {
    height: 200px;
}

#playersListCollumn > a {
	color: chocolate;
}

#chat {
    height: 240px;
    overflow-y: auto;
    border: 1px solid white;
    border-right: 0px;
    padding-left: 10px;
    padding-top: 5px;
}

#chatInputBox {
    height: 50px;
    overflow-y: auto;
    border: 1px solid white;
    border-right: 0px;
}

#chatForm input{
    margin: 0px;
    border-style: none;
    box-shadow: none;
    padding-left: 10px;
}


#boardCollumn {
	/*needed positioning for absolute positioning of childs*/
	position: absolute;
	left: 33%;
	top: 0%;

}

#board{
	position: absolute;
    top: 35px;
	border: 1px solid white;
	/*background-image: url("tableTop.jpg");*/
	/*background-size: 600px, 520px;*/
	width: 600px;
	height: 520px;  
	/*cursor: crosshair;*/
}

#glass {
    position: absolute;
    top: 35px;
    /*background-image: url("tableTop.jpg");*/
    /*background-size: 600px, 520px;*/
    width: 600px;
    height: 520px;
    /*cursor: crosshair;*/
}

#controlRow {
    position: absolute;
    top: 570px;
    width: 600px;
}

.controlRowElement{
    position:absolute;
    text-align:center;

}

#startStop {
    left: 0%;
    width:10%;
    color:chocolate;
    cursor: pointer;
}

#currentPlayer {
    left: 40%;
    color: white;
    width: 20%;
    border: 1px white solid;
}

#mute {
    right: 0%;
    width: 10%;
    color: chocolate;
    cursor: pointer;
}


/*#positionDataBox {
    position: absolute;
    left: 240px;
    top: 590px;
    color: white;
    width: 100px;
    height: 300px;
    border: 1px white solid;
    text-align: center;
}*/