
#boardCollumn {
	/*needed positioning for absolute positioning of childs*/
	position: absolute;
	left: 33%;
	top: 0%;

}

#board {
	position: absolute;
    top: 35px;
	border: 1px solid white;
	background-image: url("tableTop.jpg");
	background-size: 600px, 520px;
	width: 600px;
	height: 520px;  
	cursor: crosshair;
}



#startStop {
	position: absolute;
    left: 10px;
    top: 570px;
    color: chocolate;
    cursor: pointer;
}

#positionData {
    position: absolute;
    left: 240px;
    top: 570px;
    color: white;
    width: 100px;
    border: 1px white solid;
    text-align: center;
}

#currentPlayer {
    position: absolute;
    left: 240px;
    top: 590px;
    color: white;
    width: 100px;
    border: 1px white solid;
    text-align: center;
}

#mute {
	position: absolute;
    left: 550px;
    top: 570px;
    color: chocolate;
    cursor: pointer;
}


