#board {
    position: absolute;
	left: 400px;
	top: 80px;
	text-align: right;
	border: 1px solid white;
}

#playersListContent {
	height: 520px;
	overflow-y: scroll;
	border: 1px solid white;
	border-radius: 0px;
}

#playersList {
	width: 300px;
	margin-top: 45px;
}

#mute {
	position: absolute;
    left: 950px;
    top: 620px;
    color: chocolate;
}

#myCanvas {
	border: 1px solid white;
	background-image: url("/static/tableTop.jpg");  
}