body {
    background: black;
    color: white;
}

.error {
    color: Red;
    font-style: italic;
}

a:visited {
    color: #79a5f7;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    /*-webkit-transition: color 3s ease-out, background-color 3s ease-out;*/
}