#pickedPlayerCollumn {
 	/*needed positioning for absolute positioning of childs*/
 	position: absolute;
    left: 45%;
    top: 15%;

}

#pickedPlayerCollumn > div {

	text-align: center;
	margin: 1em 0em;
    font-family: "Roboto";

}

#loginSuccessHeading{

    margin-bottom: 35px;
}



.simplecolorpicker.icon {
    border-radius: 2px;
    padding: 4px 4px;
    position:absolute;
    right: 0%;
    top: 5%;
    height: 90%;
}

#startRoundRow {
    position:relative;
}

/*
.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: initial; */
/*override*//*

    line-height: 1.5rem;
    width: initial; */
/*override*//*

    text-align: left;
    text-transform: none;
}



#colorPicker {
    //padding-left: 50px;
    background-color: white;
}*/
